@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid #fff; */
}

:root {
  --color_07101D: #07101d;
  --color_FF3C00: #ff3c00;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  font-family: kalameh;
  background-color: var(--color_07101D);
}

@font-face {
  font-family: kalameh;
  font-style: normal;
  font-weight: 900;
  src: url("../../public/font/WebFonts/_Woff/KalamehWeb-Black.woff")
    format("woff");
}
@font-face {
  font-family: kalameh;
  font-style: normal;
  font-weight: bold;
  src: url("../../public/font/WebFonts/_Woff/KalamehWeb-Bold.woff")
    format("woff");
}

@font-face {
  font-family: kalameh;
  font-style: normal;
  font-weight: normal;
  src: url("../../public/font/WebFonts/_Woff/KalamehWeb-Regular.woff")
    format("woff");
}
@font-face {
  font-family: kalameh;
  font-style: normal;
  font-weight: 300;
  src: url("../../public/font/WebFonts/_Woff/KalamehWeb-Thin.woff")
    format("woff");
}

@font-face {
  font-family: kalameh;
  font-style: normal;
  font-weight: 900;
  src: url("../../public/font/WebFonts/_Woff/KalamehWeb\(FaNum\)-Black.woff")
    format("woff");
}
@font-face {
  font-family: kalameh;
  font-style: normal;
  font-weight: bold;
  src: url("../../public/font/WebFonts/_Woff/KalamehWeb\(FaNum\)-Bold.woff")
    format("woff");
}
@font-face {
  font-family: kalameh;
  font-style: normal;
  font-weight: normal;
  src: url("../../public/font/WebFonts/_Woff/KalamehWeb\(FaNum\)-Regular.woff")
    format("woff");
}
@font-face {
  font-family: Gilroy_Bold;
  font-style: normal;
  font-weight: bold;
  src: url("../../public/font/WebFonts/_Woff/Gilroy-Bold.woff") format("woff");
}

header::before {
  content: "";
  width: 904px;
  height: 876px;
  background-image: radial-gradient(#3d0d58 38%, #070f1c 0);
  position: absolute;
  filter: blur(74px);
  opacity: 0.4;
  right: -274px;
  top: -273px;
  z-index: -1;
}
header::after {
  content: "";
  background-image: url("./../../public/img/image 1.png");
  background-repeat: no-repeat;
  width: 500px;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.bg-gray-custom {
  background-color: rgba(255, 255, 255, 0.1);
}

.h-100 {
  height: 100%;
}

.border-1 {
  border: 1px white solid;
}

.section_news_letters {
  background: linear-gradient(
    90deg,
    #a50e86 0.16%,
    #c10b70 24.02%,
    #e83947 38.73%,
    #df330d 55.88%,
    #c55212 81.05%,
    #d37506 100%
  );
  height: 324px;
}

.footer {
  background-color: #091028;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.icon_footer_link {
  background-color: rgba(255, 255, 255, 0.1);
  width: 50px;
  height: 50px;
}
.icon_footer_instagram {
  background: linear-gradient(
    90deg,
    #9a5bff 0%,
    #ff1212 53.12%,
    #ff7f56 100%
  ) !important;
}

/* login */

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #240046;
  max-height: 510px;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 7px 7px 10px 3px #24004628;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 24px;
}

/*checkbox to switch from sign up to login*/
#chk {
  display: none;
}

.login {
  position: relative;
  width: 100%;
  height: 100%;
}

.login label {
  margin: 25% 0 5%;
}

label {
  color: #fff;
  font-size: 2rem;
  justify-content: center;
  display: flex;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.input {
  width: 100%;
  height: 40px;
  background: #e0dede;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 4px;
  text-align: right;
}

/*Register*/
.register {
  background: #eee;
  border-radius: 15% 15% 0% 0%;
  transform: translateY(5%);
  transition: 0.8s ease-in-out;
}

.register label {
  color: #573b8a;
  transform: scale(0.6);
}

#chk:checked ~ .register {
  transform: translateY(-60%);
}

#chk:checked ~ .register label {
  transform: scale(1);
  margin: 10% 0 5%;
}

#chk:checked ~ .login label {
  transform: scale(0.6);
  margin: 5% 0 5%;
}
/*Button*/
.form button {
  width: 85%;
  height: 40px;
  margin: 12px auto 10%;
  color: #fff;
  background: #573b8a;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.form button:hover {
  background-color: #6d44b8;
}

/* end login */

/* //////////////////////////// */

/* not found page */

/* End not found page */
